body{
    height: 2200px;
}

div{
    font-size: 60px;
    padding: 30px;
    border: solid 5px black;
    margin-bottom: 90px;
}

#static{
    /* o elemento estático fica na posição de acordo com os seus componentes e a distribuição dos outros elementos. Ele não leva em consideração o top e o left por exemplo. O Static é o padrão de todos os elementos*/
    top: 100px;
    left: 100px;
    position: static;
}

#fixed{
    /* fica fixado com o rolamento da página */
    position: fixed;
    bottom: 30px;
    right: 0px;
}

#relative{
    /* relativo ao elemento anterior, e não ao viewport como é no caso do fixed. */
    position: relative;
    top: 10px;
}

#absolute{
    /* relacionado a viewport quando não está dentro de um elemento relativo */
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#relative-ab{
    position: relative;
    height: 200px;
}

#absolute-rel{
    position: absolute;
    right: 0px;
    top: 0px;
}

#sticky{
    position: -webkit-sticky; /*isso é para funcionar o sticky no safari*/
    position: sticky;
    width: 300px;
    top: 0px;
}