*{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

header.cabecalho{
    background-color: rgb(33, 32, 32);
    position: relative;
    padding: 10px;
    border-bottom: solid 2px #4faddb;
    height: 80px;
    box-sizing: content-box;
}

div.logo{
    display: inline-block;
    margin-right: 25px;
    padding: 15px;
    height: 80px;
}

div.logo img{
    height: 100%;
}

.menu-toggle{
    display: none;
    position: absolute;
    right: 10px;
    padding: 10px 20px;
    background-color: #555;
    border: solid 1px #777;
    color: white;
    border-radius: 5px;
    margin: 20px 15px;
}

nav.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

nav.menu ul{
    list-style: none;
}

nav.menu li{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

/* o a.selected é o estilo da classe que será adicionada via javascript */
.menu a:hover,
.menu a.selected{
    background-color: #4faddb;
    color: #000;
}

@media (max-width: 810px){
    nav.menu{
        display: none;
    }
    .menu-toggle{
        display: inline-block;
    }
}

.autenticacao{
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 0px;
    margin: 20px 15px;
}

.autenticacao > a:nth-of-type(1){
    margin-right: 15px;
}

.autenticacao > a:nth-of-type(2){
    background-color: brown;
    border-radius: 15px;
    padding: 10px;

}

@media (max-width: 970px){
    .autenticacao{
        display: none;
    }
}