html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: lightgray;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background: #fff;
}