html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: lightgray;
}

body{
    display: grid;
    /* a primeira linha ocupará 50% de altura, a segunda 25%, e as duas últimas 12.5% */
    grid-template-rows: 50% 25% 12.5% 12.5%;
    /* o primeiro com 100px, o segundo com o resto do espaço e os dois último com o tamanho mínimo possivel (tamanho da fonte nessa caso) pois o tamanho dele não foi declarado */
    grid-template-rows: 100px 1fr;
    /* o primeiro com 100px e o restante divide de forma igualitária */
    grid-template-rows: 100px auto auto auto;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background: #fff;
}