*{
    padding: 0;
    margin: 0;
}

/* nomeando o espaço de cada elemento */

header{
    grid-area:cabecalho;
}

nav{
    grid-area: navegacao;
}

main{
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
}

body{
    display: grid;
    /* para ocupar a altura da tela inteira */
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 100px;
    /* para organizar os elementos nesses 6 espaços (2 colunas e 3 linhas) */
    /* é preciso nomear individualmente os elementos com grid area */
    grid-template-areas: 
        'cabecalho cabecalho'
        'navegacao conteudo' 
        'rodape rodape'   
    ;
}

@media(max-width: 700px){
    body{
        /* para mudar para uma única coluna */
        grid-template-columns: 1fr;
        /* forma 3 linhas, sendo a terceira que vai ocupar a maior parte do espaço */
        grid-template-rows: 80px 1fr 80px;
        grid-template-areas: 
            'navegacao'
            'conteudo'
            'rodape'
        ;
    }

    header{display: none};
}



